@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);




#dropdown-menu-2btn-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-h .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-h .nav .link,
#dropdown-menu-2btn-h .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-h .navbar,
#dropdown-menu-2btn-h .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-h .dropdown-menu a:hover,
#dropdown-menu-2btn-h .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-h .navbar-toggler {
  color: #000000;
}
#content5-p .mbr-section-title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  color: #000000;
}
#content5-p P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: left;
}




#dropdown-menu-2btn-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-r .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-r .nav .link,
#dropdown-menu-2btn-r .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-r .navbar,
#dropdown-menu-2btn-r .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-r .dropdown-menu a:hover,
#dropdown-menu-2btn-r .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-r .navbar-toggler {
  color: #000000;
}
#content5-s .mbr-section-title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#content5-s P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}




#dropdown-menu-2btn-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-t .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-t .nav .link,
#dropdown-menu-2btn-t .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-t .navbar,
#dropdown-menu-2btn-t .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-t .dropdown-menu a:hover,
#dropdown-menu-2btn-t .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-t .navbar-toggler {
  color: #000000;
}
#content5-u .mbr-section-title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#content5-u P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}




#dropdown-menu-2btn-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-v .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-v .nav .link,
#dropdown-menu-2btn-v .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-v .navbar,
#dropdown-menu-2btn-v .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-v .dropdown-menu a:hover,
#dropdown-menu-2btn-v .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-v .navbar-toggler {
  color: #000000;
}
#content5-w .mbr-section-title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#content5-w P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}




#dropdown-menu-2btn-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-x .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-x .nav .link,
#dropdown-menu-2btn-x .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-x .navbar,
#dropdown-menu-2btn-x .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-x .dropdown-menu a:hover,
#dropdown-menu-2btn-x .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-x .navbar-toggler {
  color: #000000;
}
#content5-y .mbr-section-title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#content5-y P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}



















#dropdown-menu-2btn-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-z .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-z .nav .link,
#dropdown-menu-2btn-z .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-z .navbar,
#dropdown-menu-2btn-z .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-z .dropdown-menu a:hover,
#dropdown-menu-2btn-z .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-z .navbar-toggler {
  color: #000000;
}
#content5-10 .mbr-section-title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#content5-10 P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-3r .btn {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3r P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-3r SPAN {
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3s .btn {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3s P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-3s SPAN {
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3t .btn {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3t P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-3t SPAN {
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3u .btn {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3u P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-3u SPAN {
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3v .btn {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3v P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-3v SPAN {
  font-family: 'Noto Sans', sans-serif;
}




#dropdown-menu-2btn-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-11 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-11 .nav .link,
#dropdown-menu-2btn-11 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-11 .navbar,
#dropdown-menu-2btn-11 .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-11 .dropdown-menu a:hover,
#dropdown-menu-2btn-11 .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-11 .navbar-toggler {
  color: #000000;
}
#content5-12 .mbr-section-title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#content5-12 P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}




#dropdown-menu-2btn-13 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-13 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-13 .nav .link,
#dropdown-menu-2btn-13 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-13 .navbar,
#dropdown-menu-2btn-13 .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-13 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-13 .dropdown-menu a:hover,
#dropdown-menu-2btn-13 .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-13 .navbar-toggler {
  color: #000000;
}
#content5-14 .mbr-section-title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#content5-14 P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}




#dropdown-menu-2btn-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-19 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-19 .nav .link,
#dropdown-menu-2btn-19 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-19 .navbar,
#dropdown-menu-2btn-19 .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-19 .dropdown-menu a:hover,
#dropdown-menu-2btn-19 .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-19 .navbar-toggler {
  color: #000000;
}
#content5-1a .mbr-section-title {
  font-size: 36px;
}
#content5-1a .mbr-section-title SPAN {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#content5-1a P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}




#dropdown-menu-2btn-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1g .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1g .nav .link,
#dropdown-menu-2btn-1g .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-1g .navbar,
#dropdown-menu-2btn-1g .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1g .dropdown-menu a:hover,
#dropdown-menu-2btn-1g .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-1g .navbar-toggler {
  color: #000000;
}
#content5-1h .mbr-section-title {
  font-size: 36px;
}
#content5-1h .mbr-section-title SPAN {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#content5-1h P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box4-1j .mbr-section-title {
  font-size: 32px;
}




#dropdown-menu-2btn-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1k .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1k .nav .link,
#dropdown-menu-2btn-1k .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-1k .navbar,
#dropdown-menu-2btn-1k .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1k .dropdown-menu a:hover,
#dropdown-menu-2btn-1k .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-1k .navbar-toggler {
  color: #000000;
}
#content5-1l .mbr-section-title {
  font-size: 36px;
}
#content5-1l .mbr-section-title SPAN {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#content5-1l P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}




#dropdown-menu-2btn-1q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1q .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1q .nav .link,
#dropdown-menu-2btn-1q .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-1q .navbar,
#dropdown-menu-2btn-1q .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-1q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1q .dropdown-menu a:hover,
#dropdown-menu-2btn-1q .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-1q .navbar-toggler {
  color: #000000;
}
#content5-1r .mbr-section-title {
  font-size: 36px;
}
#content5-1r .mbr-section-title SPAN {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#content5-1r P {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}




#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #000000;
}
#content5-1u .mbr-section-title {
  font-size: 36px;
}
#content5-1u .mbr-section-title SPAN {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#content5-1u P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}




#dropdown-menu-2btn-20 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-20 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-20 .nav .link,
#dropdown-menu-2btn-20 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-20 .navbar,
#dropdown-menu-2btn-20 .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-20 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-20 .dropdown-menu a:hover,
#dropdown-menu-2btn-20 .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-20 .navbar-toggler {
  color: #000000;
}
#msg-box1-22 H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-22 .btn {
  font-size: 12px;
}
#msg-box1-22 P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}















#dropdown-menu-2btn-2a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2a .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-2a .nav .link,
#dropdown-menu-2btn-2a .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-2a .navbar,
#dropdown-menu-2btn-2a .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-2a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2a .dropdown-menu a:hover,
#dropdown-menu-2btn-2a .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-2a .navbar-toggler {
  color: #000000;
}
#msg-box1-2c H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2c .btn {
  font-size: 12px;
}
#msg-box1-2c P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-2d H2 {
  font-size: 20px;
}
#msg-box1-2d .btn {
  font-size: 12px;
}
#msg-box1-2d SPAN {
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2d P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-2e H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2e .btn {
  font-size: 12px;
}
#msg-box1-2e P {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2f H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2f .btn {
  font-size: 12px;
}
#msg-box1-2f P {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2g H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2g .btn {
  font-size: 12px;
}
#msg-box1-2g P {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2h H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2h .btn {
  font-size: 12px;
}
#msg-box1-2h P {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2i H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-2i .btn {
  font-size: 12px;
}
#msg-box1-2i P {
  font-size: 14px;
}


#dropdown-menu-2btn-2m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2m .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-2m .nav .link,
#dropdown-menu-2btn-2m .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-2m .navbar,
#dropdown-menu-2btn-2m .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-2m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2m .dropdown-menu a:hover,
#dropdown-menu-2btn-2m .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-2m .navbar-toggler {
  color: #000000;
}


#dropdown-menu-2btn-34 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-34 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-34 .nav .link,
#dropdown-menu-2btn-34 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-34 .navbar,
#dropdown-menu-2btn-34 .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-34 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-34 .dropdown-menu a:hover,
#dropdown-menu-2btn-34 .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-34 .navbar-toggler {
  color: #000000;
}





#dropdown-menu-2btn-36 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-36 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-36 .nav .link,
#dropdown-menu-2btn-36 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-36 .navbar,
#dropdown-menu-2btn-36 .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-36 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-36 .dropdown-menu a:hover,
#dropdown-menu-2btn-36 .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-36 .navbar-toggler {
  color: #000000;
}
#msg-box1-37 H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-37 .btn {
  font-size: 12px;
}
#msg-box1-37 B {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-37 P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#msg-box1-37 SPAN {
  font-size: 14px;
}








#dropdown-menu-2btn-38 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-38 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-38 .nav .link,
#dropdown-menu-2btn-38 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-38 .navbar,
#dropdown-menu-2btn-38 .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-38 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-38 .dropdown-menu a:hover,
#dropdown-menu-2btn-38 .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-38 .navbar-toggler {
  color: #000000;
}
#msg-box2-3f H2 {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box2-3g H2 {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box2-3h H2 {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box2-3i H2 {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box2-3m H2 {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box2-3o H2 {
  font-size: 20px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}




#dropdown-menu-2btn-3j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3j .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-3j .nav .link,
#dropdown-menu-2btn-3j .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-3j .navbar,
#dropdown-menu-2btn-3j .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-3j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3j .dropdown-menu a:hover,
#dropdown-menu-2btn-3j .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-3j .navbar-toggler {
  color: #000000;
}
#msg-box1-3k H2 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3k .btn {
  font-size: 12px;
}
#msg-box1-3k P {
  text-align: left;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box1-3k B {
  font-size: 14px;
}
#msg-box1-3k SPAN {
  font-size: 20px;
}













#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #eeeeee;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #e4e4e4;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #000000;
}
#header4-1 H1 {
  text-align: center;
  font-size: 46px;
  font-family: 'Roboto', sans-serif;
  color: #303f9f;
}
#header4-1 B {
  color: #fff176;
  font-family: 'Roboto', sans-serif;
}
#footer1-1z P {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
#header3-4 H3 {
  font-size: 24px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#header3-4 SMALL {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
}
#buttons1-2k .btn {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box4-e .mbr-section-title {
  text-align: center;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box4-e .lead P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
}
#social-buttons1-b .mbr-section-title {
  font-size: 20px;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
}
#contacts2-9 STRONG {
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
#contacts2-9 P {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
#contacts2-9 SPAN {
  font-size: 14px;
}
#contacts2-9 B {
  font-size: 14px;
}
